/*
 *  Global GUI styles
 */
QLabel{
    font-family: 'Volte Rounded',sans-serif !important;
    color: rgb(255,255,255) !important;
}

QMainWindow{
    border-image: url(:/images/pac/drkblue_walletFrame_bg) 0 0 0 0 stretch stretch;
}

QMessageBox {
    background-color:rgb(26,26,26);
}

QDialog{
    background-color:rgb(26,26,26);
    color:white;
}


/* Global Progress Bar styles */
QStatusBar{
    background-color: rgb(10,10,10) !important;
}

#btnChangeImage{
    height: 80px !important;
    border-radius: 40px !important;
    border-image: url(:/images/pac/profile) 0 0 0 0 stretch stretch;
}
#btnChangeImage:hover {
    border-image: url(:/images/pac/hover_profile) 0 0 0 0 stretch stretch !important;
}
#btnChangeImage:pressed {
    background-color: rgb(263,252,76) !important;
}


/* Global containers */
[class="container"]{
    background-color: rgba(50,50,50,0.35);
    border: 0px !important;
}


/* Global text inputs */
[class="LineEdit"], [class="LineEdit_PacCoins"]{
    border: 0px;
    border-radius: 20px;
    font-size:11px;
    outline:0;
    padding:3px;
    background-color: rgb(10, 10, 10);
    color: #fff;
    height: 40px !important;
    font-family: 'Volte Rounded', sans-serif;
    font-size: 15px;
}
[class="LineEdit"]:focus {
    font-size:12px;
}
[class="LineEdit"]:disabled {
    background-color:#f2f2f2;
}
[class="QuickButton"]{
    background-color: transparent;
    border: none;
}


/* labels */
QLabel[class="titleLabel"]{
    color:rgb(255,255,255);
    font-family: 'Volte Rounded', sans-serif;
    font-size: 20px;
}
QLabel[class="pacCoinsLabel"]{
    color:rgb(243,232,56);
    font-family: 'Volte Rounded', sans-serif;
    font-size: 30px;/*20px*/
    font-weight: 100;
}
QLabel[class="usdLabel"]{
    color:rgb(255,255,255);
    font-family: 'Volte Rounded', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

/*textarea*/
QPlainTextEdit {
    background: rgb(255, 0, 0);
    color: rgb(20, 20, 20);
    font-family: 'Volte Rounded', sans-serif;
    font-size: 15px;
}


/* Dropdown Menus  not for the tables */
QDialog#SendCoinsDialog QComboBox, QDialog#ReceiveCoinsDialog QComboBox { 
    border-radius: 20px;
    background-color: rgb(10, 10, 10);
    font-family: 'Volte Rounded', sans-serif;
    font-size: 15px;
    text-align: center;
    border:0px;
    padding: 3px 5px 3px 5px;
    min-height:40px;
    color:#fff;
}
QDialog#SendCoinsDialog QComboBox:disabled, QDialog#ReceiveCoinsDialog QComboBox:disabled{
    background-color: rgb(61,61,61);
    color: #efefef;
}
QDialog#SendCoinsDialog QComboBox:checked, QDialog#ReceiveCoinsDialog QComboBox:checked{
    background-color: rgba(219, 219, 219,0.5);
}
QDialog#SendCoinsDialog QComboBox:editable, QDialog#ReceiveCoinsDialog QComboBox:editable {
    background-color: rgba(219, 219, 219,0.5);
    color:#616161;
    border:0px;
}
QDialog#SendCoinsDialog QComboBox::drop-down, QDialog#ReceiveCoinsDialog QComboBox::drop-down {
    width:25px;
    border:0px;
}
QDialog#SendCoinsDialog QComboBox::down-arrow, QDialog#ReceiveCoinsDialog QComboBox::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
QDialog#SendCoinsDialog QComboBox QListView, QDialog#ReceiveCoinsDialog QComboBox QListView {
    background-color:  rgb(20, 20, 20);
    border:1px solid transparent;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}
QDialog#SendCoinsDialog QComboBox QAbstractItemView::item, QDialog#ReceiveCoinsDialog QComboBox QAbstractItemView::item {
    margin:4px;
}
QDialog#SendCoinsDialog QComboBox::item, QDialog#ReceiveCoinsDialog QComboBox::item {
    color:#fff;
}
QDialog#SendCoinsDialog QComboBox::item:alternate, QDialog#ReceiveCoinsDialog QComboBox::item:alternate {
    background:rgb(20, 20, 20);
}
QDialog#SendCoinsDialog QComboBox::item:selected, QDialog#ReceiveCoinsDialog QComboBox::item:selected {
    border:0px solid transparent;
    background-color:  rgb(40, 40, 40);
}
QDialog#SendCoinsDialog QComboBox::indicator, QDialog#ReceiveCoinsDialog QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}

/* ScrollBar */
QScrollBar:vertical {
    background-color: #191919;
    width: 16px;
    margin: 16px 2px 16px 2px;
    border: 1px solid rgb(50,50,50);
    border-radius: 4px;
}
QScrollBar::handle:vertical {
    background-color: #787878;
    border: 1px solid rgb(50,50,50);
    min-height: 8px;
    border-radius: 4px;
}
QScrollBar::handle:vertical:hover {
    background-color: rgb(243,232,56);
    border: 1px solid rgb(243,232,56);
    border-radius: 4px;
    min-height: 8px;
}
QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/images/pac/drkblue_upArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/images/pac/drkblue_downArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on {
    border-image: url(:/images/pac/drkblue_upArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
    border-image: url(:/images/pac/drkblue_downArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* GLOBAL SPINBOX */
QAbstractSpinBox {
    border-radius: 20px;
    background-color: rgb(10, 10, 10);
    font-family: 'Volte Rounded', sans-serif;
    font-size: 15px;
    text-align: center;
    border:0px;
    min-height:40px;
    color:#fff;
    padding: 3px 5px 3px 5px;
}
QAbstractSpinBox:disabled{
    background-color: rgb(61,61,61);
    color: #efefef;
}
QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width:21px;
    background-color: transparent;
    border:0px;
    padding-right:4px;
    padding-left:5px;
    padding-top:2px;
}
QAbstractSpinBox::up-arrow {
    image: url(':/images/pac/drkblue_upArrow_small') 0 0 0 0 stretch stretch;
}
QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width:21px;
    background-color: transparent;
    border:0px;
    padding-right:4px;
    padding-left:5px;
    padding-bottom:2px;
}
QAbstractSpinBox::down-arrow {
    image: url(':/images/pac/drkblue_downArrow_small') 0.5 0.5 0.5 0.5 stretch stretch;
}


/* GLOBAL TABLES*/
QHeaderView { /* Top of the table Header */
    background-color: rgba(224, 224, 224, 0.1);
}
QHeaderView::section { /* Top of the table Header Sections */
    qproperty-alignment:center;
    background-color: rgba(224, 224, 224, 0.1);
    color:#fff;
    min-height:25px;
    font-weight:bold;
    font-size:11px;
    outline:0;
    border:0px solid #fff;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}
QScrollArea {
    background:transparent;
    border:2px solid transparent;
}
QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
    background-color: rgba(224, 224, 224, 0.1);
    color: white !important;
    /*alternate-background-color: yellow;*/
}
QTableView::item { /* Table Item */
    font-size:12px;
    color: white !important;
}
QTableView::item:selected { /* Table Item Selected */
    background-color: rgb(70, 70, 70);
    color: white;
}
QTableWidget{
    background-color: rgba(224, 224, 224, 0.1); 
}


/* ToolBar Menu */
QToolBar {
    background-color: #000000;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QToolBar > QToolButton {
    background-color:transparent;
    border: 0px;
    height: 68px !important;
    width: 120px;
    color: #fff;
}
QToolBar > QToolButton:checked {
    background-color: rgba(57,57,57,0.3);
}
#toolbarIcon{
    background: none;
    margin: 15px 0px 0px 15px;
    border-image: url(:/icons/bitcoin);
}
#test{
    background-color: rgba(255,0,0,0.6);
    border:1px green !important;
}

/* Global Button styles*/
QPushButton {
    background: transparent;
    border: 1px solid rgb(243,232,56);
    color: rgb(243,232,56);
    border-radius: 16px;
    height: 30px;
    width: 150px;
    font-family: 'Volte Rounded', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
QPushButton:hover, QPushButton:focus {
    background: rgb(243,232,56) !important;
    border: 1px solid rgb(243,232,56);
    color: rgb(5,5,5);
}
QPushButton:disabled {
    background: transparent !important;
    border: 1px solid rgba(243,232,56,0.6);
    color:rgb(100,100,100) !important;
}
QPushButton:pressed {
    background: rgba(243,232,56, 0.3) !important;
    border: 0px !important;
    color: rgb(243,232,56) !important;
}
[class="linkButton"]{
    background-color: transparent !important;
    border: none;
    color: #F4EA13;
    font-size: 11px;
    text-decoration: underline;
}
[class="linkButton"]:hover, [class="linkButton"]:focus, #removeRequestButton:hover, #removeRequestButton:focus {
    color:rgb(61,47,255);
    background-color: transparent !important;
    border: 0px !important;
}
[class="linkButton"]:disabled, #removeRequestButton:disabled  {
    background-color: transparent !important;
    color:rgb(100,100,100) !important;
    text-decoration: underline;
}
[class="linkButton"]:pressed, #removeRequestButton:pressed {
    background: transparent !important;
    border: 0px !important;
    color: rgb(255,255,255) !important;
}
[class="accentButton"]{
    border: none;
    background: rgb(243,232,56);
    color: rgb(5,5,5);
    border-radius: 35px;
    height: 70px;
    max-width:260px;
    font-style: normal;
    font-family: 'Volte Rounded', sans-serif;
    font-size: 18px;
    font-weight:bold;
    text-transform:uppercase;
}
QCheckBox {
    color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
}
QRadioButton {
    color: rgb(255, 255, 255);
}


/* GLOBAL CHECKBOX */
QCheckBox::indicator:unchecked {
    image:url(':/images/pac/unchecked_b');
}
QCheckBox::indicator:unchecked:hover {
    image:url(':/images/pac/unchecked_b');
}
QCheckBox::indicator:unchecked:pressed {
    image:url(':/images/pac/unchecked_b');
}
QCheckBox::indicator:checked {
    image:url(':/images/pac/checked_b');
}
QCheckBox::indicator:checked:hover {
    image:url(':/images/pac/checked_b');
}
QCheckBox::indicator:checked:pressed {
    image:url(':/images/pac/checked_b');
}
QCheckBox::indicator:indeterminate:hover {
    image:url(':/images/pac/unchecked_b');
}
QCheckBox::indicator:indeterminate:pressed {
    image:url(':/images/pac/checked_b');
}


/* GLOBAL RADIO BUTTON */
QRadioButton::indicator:unchecked {
    image:url(':/images/pac/unchecked');
}
QRadioButton::indicator:unchecked:hover {
    image:url(':/images/pac/unchecked');
}
QRadioButton::indicator:unchecked:pressed {
    image:url(':/images/pac/checked');
}
QRadioButton::indicator:checked {
    image:url(':/images/pac/checked');
}
QRadioButton::indicator:checked:hover {
    image:url(':/images/pac/checked');
}
QRadioButton::indicator:checked:pressed {
    image:url(':/images/pac/unchecked');
}
QRadioButton::indicator:indeterminate:hover {
    image:url(':/images/pac/unchecked');
}
QRadioButton::indicator:indeterminate:pressed {
    image:url(':/images/pac/checked');
}


/*
 * Overview Page
*/
#frame_RecentTransactions>QLabel, #frame_Balances>QLabel{
    text-transform:uppercase;
}


/*
 * SendCoins Page
 */
/*#SendCoinsEntry>QValidatedLineEdit, #SendCoinsEntry>BitcoinAmountField, #payAmount{
    background:red !important;
    border: 0px !important;
}*/
#frameCoinControl, #scrollArea, #scrollAreaWidgetContents{
    border: 0px !important;
}
#frameCoinControl{
    background: rgba(255,255,255,0.3);
    border-radius: 8px !important;
}
#frameFee{
    border: 0px;
}
#scrollArea, #scrollAreaWidgetContents, #scrollAreaWidgetContents_3{
    background-color:rgba(0,0,0,0) !important;
}
#verticalWidget{
    margin-left: 25px !important;
}

/*
 * ReceiveCoins Page
 */
#ReceiveCoinsDialog{
    margin: 12px 42px 18px 42px;
}

#removeRequestButton{
    color: #FF1D1D;
}
#recentRequestsView{

}
/*
 * Transactions Page
 */
/* Over the table */
QLineEdit#addressWidget, QLineEdit#tAmountWidget{
    background-color: rgba(224, 224, 224, 0.2);
    color:#fff;
    border:0px;
    min-height: 30px !important;
}
QComboBox#watchOnlyWidget, QComboBox#dateWidget, QComboBox#typeWidget {
    background-color: rgba(224, 224, 224, 0.2);
    border:0px;
    padding: 3px 5px 3px 5px;
    color:#fff;
    min-height: 24px !important;
}
#watchOnlyWidget::down-arrow, #dateWidget::down-arrow, #typeWidget::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
#watchOnlyWidget::drop-down, #dateWidget::drop-down, #typeWidget::drop-down {
    width:25px;
    border:3px red;
}
QComboBox#watchOnlyWidget QListView, QComboBox#dateWidget QListView, QComboBox#typeWidget QListView {
    background-color:  rgb(20, 20, 20);
    border:0px;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}

/*
 * Private Page
 */
#framePrivateSend{
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.85, stop: 0 rgba(0, 0, 0, 0.35), stop: 1 rgba(75, 75, 75, 0.30));
    border: 0px !important;
}
#labelPrivateSendHeader{
    font-size: 25px;
}
#labelAnonymized{
    font-size: 30px;
}
#labelAnonymizedText, #labelAmountAndRoundsText, #labelPrivateSendEnabledTextP{
    font-weight: 100;
}
/* Black button */
[class="buttonAllBlack"]{
    background: #141414;
    border: 0px;
    color: #fff;
    border-radius: 11px;
    height: 40px;
    font-weight: bold;
    font-size: 10px;
    text-transform:uppercase;
}
[class="buttonAllBlack"]:hover, [class="buttonAllBlack"]:focus {
    background: #1A1919;
    border: 2px #444444;
    color: #fff;
}
[class="buttonAllBlack"]:disabled {
    background: #444444;
    color: #d3d3d3
}
[class="buttonAllBlack"]:pressed {
    background: rgb(243,232,56);
    color: #fff;
}


/*
 * Proposal Page
 */

/* Over the table */
QLineEdit#proposalWidget, QLineEdit#amountWidget, QLineEdit#yesVotesWidget, QLineEdit#noVotesWidget, QLineEdit#absoluteYesVotesWidget, QLineEdit#percentageWidget{ /* Example of setObjectName for widgets without name */
    background-color: rgba(224, 224, 224, 0.2);
    color:#fff;
    border:0px;
    min-height: 30px !important;
}
QComboBox#startDateWidget, QComboBox#endDateWidget{
    background-color: rgba(224, 224, 224, 0.2);
    border:0px;
    padding: 3px 5px 3px 5px;
    color:#fff;
    min-height: 24px !important;
}
#startDateWidget::down-arrow, #endDateWidget::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
#startDateWidget::drop-down, #endDateWidget::drop-down {
    width:25px;
    border:3px red;
}
QComboBox#startDateWidget QListView, QComboBox#endDateWidget QListView{
    background-color:  rgb(20, 20, 20);
    border:0px;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}


/* TESTS */

QTabWidget::pane { /* The tab widget frame */
    border-top: 0px solid transparent;
}
QTabWidget::tab-bar {
    left: 0px; /* move to the right by 5px */
}
/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background:#1D1D1D;
    border: 0px solid transparent;
    border-bottom-color: transparent; /* same as the pane color */
    min-width: 180px;
    padding: 2px;
    color:#FFFFFF;
    font-family: 'Volte Rounded',sans-serif !important;
}
QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: #363636;
}
QTabBar::tab:selected {
    border-color: transparent;
    border-bottom-color: transparent; /* same as pane color */
}
