/*
 *  Global GUI styles
 */
QLabel, QGroupBox::title{
    font-family: 'Volte Rounded',sans-serif !important;
    color: white !important;
    font-weight:normal;
}
QMainWindow{
    border-image: url(:/images/pac/drkblue_walletFrame_bg) 0 0 0 0 stretch stretch;
}

QMessageBox {
    background-color:rgb(26,26,26);
}
QToolTip {
    font-family: 'Volte Rounded',sans-serif !important;
    color: #0A0A0A;
    background-color: #ffffff;
    border: none;
}
QDialog{
    background-color:rgb(26,26,26);
    color:white;
}
/* Global ComboBox */
QComboBox{
    background-color: #0B0B0B;
    border:0px;
    height: 26px;
    padding: 3px 5px 3px 5px;
    color:#fff;
    min-height: 24px !important;
}
QComboBox::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
QComboBox::drop-down {
    width:25px;
    border:3px red;
}
QComboBox QListView {
    color: #FFF;
    background-color:  rgb(20, 20, 20);
    border:0px;
    height:100px;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}
QComboBox QAbstractItemView::item {
    color: rgb(255, 255, 255) !important;
    selection-background-color: #494949;
    height: 35px !important;
    min-width: 100px !important;
}
/* Global TabBar styles */
QTabWidget::pane {
    background-color: transparent;
    border: 0px !important;
    border-radius:15px;
}
/* move to the right by 5px
QTabWidget::tab-bar {
    left: 200px;
}*/
/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background:#1D1D1D;
    border: 0px solid transparent;
    border-bottom-color: transparent; /* same as the pane color */
    padding: 2px;
    width: 180px;
    color:#FFFFFF;
    font-family: 'Volte Rounded',sans-serif !important;
}
QTabBar::tab:selected, QTabBar::tab:hover, #tabWidget_OptionsDialog QTabBar::tab:selected, #tabWidget_OptionsDialog QTabBar::tab:hover {
    background-color: #363636 !important;
}
QTabBar::tab:selected {
    border-color: transparent !important;
    border-bottom-color: transparent !important;
}

/* Global Progress Bar styles */
QProgressBar {
    border: 1px solid white;
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 4px ;

}
QProgressBar::chunk {
    background-color:#F4EA13;
    border-radius: 7px;
}

QStatusBar{
    background-color: rgb(10,10,10) !important;
}
#btnChangeImage{
    height:80px;
    width:80px;
    border-radius: 40px;
    /*border-image: url(:/images/pac/hover_profile) 0 0 0 0 stretch stretch;*/
}
#btnChangeImage:hover {
    height:80px;
    width:80px;
    border-radius: 40px;
    border: 1px solid rgb(255,255,255) !important;
    /*border-image: url(:/images/pac/hover_profile) 0 0 0 0 stretch stretch;*/
}
#btnChangeImage:pressed {
    height:80px;
    width:80px;
    border-radius: 40px;
    border: 1px solid rgb(263,252,76) !important;
}

/* Global containers */
[class="container"]{
    background-color: rgba(50,50,50,0.35);
    border: 0px !important;
}
/* Global text inputs */
[class="LineEdit"], [class="LineEdit_PacCoins"], [class="LineEditSmall"]{
    border: 0px;
    outline:0;
    padding:3px;
    background-color: rgb(10, 10, 10);
    color: #fff;
    font-family: 'Volte Rounded', sans-serif;
}
[class="LineEdit"], [class="LineEdit_PacCoins"]{
    height: 40px !important;
    font-size: 15px;
    border-radius: 20px;
}
[class="LineEditSmall"]{
    height: 18px !important;
    font-size: 13px;
    border-radius: 9px;
}
[class="LineEdit"]:focus, [class="LineEditSmall"]:focus {
    font-size:12px;
}
[class="LineEdit"]:disabled, [class="LineEditSmall"]:disabled {
    background-color:#474747;
    color: #878787;
}
[class="QuickButton"]{
    background-color: transparent;
    border: none !important;
    border-radius: 10 px !important;
}
[class="SpinBoxSmall"]{
    border-radius: 10px !important;
    font-size: 12px !important;
    min-width: 40px !important;
    min-height:20px !important;
}
/* labels */
QLabel[class="titleLabel"]{
    text-transform:uppercase;
    color: #FFF;
    font-family: 'Volte Rounded', sans-serif;
    font-weight: medium;
    font-size: 20px;
}
QLabel[class="pacCoinsLabel"]{
    margin: 0px;
    color: #F4EA13;
    font-family: 'Volte Rounded', sans-serif;
    font-size: 32px;
    font-weight: medium;
}
QLabel[class="usdLabel"]{
    color: #FFF;
    font-family: 'Volte Rounded', sans-serif;
    font-size: 23px;
    font-weight: normal;
}
QLabel[class="labelPacIcon"]{
    margin: 0px;
}
/*textarea*/
QPlainTextEdit {
    background: rgb(255, 0, 0);
    color: rgb(20, 20, 20);
    font-family: 'Volte Rounded', sans-serif;
    font-size: 15px;
}
/* ScrollBar */
QScrollBar:vertical, QScrollBar:horizontal {
    background-color: #191919;
    width: 16px;
    margin: 16px 2px 16px 2px;
    border: 1px solid rgb(50,50,50);
    border-radius: 4px;
}
QScrollBar::handle:vertical, QScrollBar::handle:horizontal  {
    background-color: #787878;
    border: 1px solid rgb(50,50,50);
    min-height: 8px;
    border-radius: 4px;
}
QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background-color: rgb(243,232,56);
    border: 1px solid rgb(243,232,56);
    border-radius: 4px;
    min-height: 8px;
}
QScrollBar::sub-line:vertical, QScrollBar::sub-line:horizontal{
    margin: 3px 0px 3px 0px;
    border-image: url(:/images/pac/drkblue_upArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal {
    margin: 3px 0px 3px 0px;
    border-image: url(:/images/pac/drkblue_downArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on , QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on{
    border-image: url(:/images/pac/drkblue_upArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on, QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on{
    border-image: url(:/images/pac/drkblue_downArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal{
    background: none;
}
/* GLOBAL SPINBOX */
QAbstractSpinBox {
    border-radius: 20px;
    font-size: 15px;
    min-height:40px;
    background-color: rgb(10, 10, 10);
    font-family: 'Volte Rounded', sans-serif;
    text-align: center;
    border:0px;
    color:#fff;
    padding: 3px 5px 3px 5px;
}
QAbstractSpinBox:disabled{
    background-color: rgb(61,61,61);
    color: #efefef;
}
QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width:21px;
    background-color: transparent;
    border:0px;
    padding-right:4px;
    padding-left:5px;
    padding-top:2px;
}
QAbstractSpinBox::up-arrow {
    image: url(':/images/pac/drkblue_upArrow_small') 0 0 0 0 stretch stretch;
}
QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width:21px;
    background-color: transparent;
    border:0px;
    padding-right:4px;
    padding-left:5px;
    padding-bottom:2px;
}
QAbstractSpinBox::down-arrow {
    image: url(':/images/pac/drkblue_downArrow_small') 0.5 0.5 0.5 0.5 stretch stretch;
}
/* GLOBAL TABLES*/
QHeaderView { /* Top of the table Header */
    background-color: #0F0F0F;
}
QHeaderView::section { /* Top of the table Header Sections */
    background-color: #0F0F0F;
    color:#fff;
    min-height:20px;
    height:35px;
    font-weight:bold;
    font-size:11px;
    outline:0;
    border:0px solid #fff;
    border-right:  1px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.5, stop: 0 transparent, stop: 1 rgb(71, 71, 71));
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}
QHeaderView::down-arrow{
    image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
QHeaderView::up-arrow{
    image: url(':/images/pac/drkblue_upArrow_small') 0 0 0 0 stretch stretch;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
QScrollArea {
    background:transparent;
    border:2px solid transparent;
}
QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
    background-color: rgba(40, 40, 40, 0.3);
    color: white !important;
    border:none;
}
QTableView::item { /* Table Item */
    font-size:12px;
    color: white !important;
}
QTableView::item:selected { /* Table Item Selected */
    background-color: rgb(70, 70, 70);
    color: white;
}
QTableWidget{
    background-color: rgba(40, 40, 40, 0.3);
}
/* ToolBar Menu */
QToolBar {
    background-color: #000000;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QToolBar > QToolButton {
    background-color:transparent;
    border: 0px;
    height: 63px !important;
    width: 120px;
    color: #fff;
}
QToolBar > QToolButton:checked {
    background-color: rgba(57,57,57,0.3);
}
#toolbarIcon{
    background: none;
    margin: 15px 0px 0px 15px;
    border-image: url(:/icons/bitcoin);
}
#test{
    background-color: rgba(255,0,0,0.6);
    border:1px green !important;
}
/* Global Button styles*/
QPushButton {
    background: transparent;
    border: 1px solid #F4EA13;
    color: #F4EA13;
    border-radius: 16px;
    height: 35px;
    width: 160px;
    font-family: 'Volte Rounded', sans-serif;
    font-weight: medium;
    font-size: 16px;
}
QPushButton:hover, QPushButton:focus {
    background: rgb(243,232,56) !important;
    border: 1px solid rgb(243,232,56);
    color: rgb(5,5,5);
}
QPushButton:disabled {
    background: transparent !important;
    border: 1px solid rgba(243,232,56,0.6);
    color:rgb(100,100,100) !important;
}
QPushButton:pressed {
    background: rgba(243,232,56, 0.3) !important;
    border: 0px !important;
    color: rgb(243,232,56) !important;
}
[class="SmallButton"]{
    border-radius: 8px;
    height: 18px;
    width: 60px;
    font-family: 'Volte Rounded', sans-serif;
    font-weight: normal;
    font-size: 11px;
}
[class="linkButton"]{
    background-color: transparent !important;
    border: none !important;
    color: #F4EA13;
    font-size: 11px;
    text-decoration: underline;
}
[class="linkButton"]:hover, [class="linkButton"]:focus, #removeRequestButton:hover, #removeRequestButton:focus {
    color:rgb(61,47,255);
    background-color: transparent !important;
    border: 0px !important;
}
[class="linkButton"]:disabled, #removeRequestButton:disabled  {
    background-color: transparent !important;
    color:rgb(100,100,100) !important;
    text-decoration: underline;
    border: none !important;
}
[class="linkButton"]:pressed, #removeRequestButton:pressed {
    background: transparent !important;
    border: 0px !important;
    color: rgb(255,255,255) !important;
}
[class="accentButton"]{
    text-transform:uppercase;
    border: none;
    background: #F4EA13;
    color: rgb(5,5,5);
    border-radius: 30px;
    min-height:60px !important;
    height: 70px !important;
    width: 280px;
    font-style: normal;
    font-family: 'Volte Rounded', sans-serif;
    font-size: 22px;
    font-weight:medium;
}
QCheckBox {
    color: #FFF;
    width: 10px;
    height: 10px;
}
QRadioButton {
    color: rgb(255, 255, 255);
}
/* GLOBAL CHECKBOX */
QCheckBox::indicator:unchecked, QCheckBox::indicator:unchecked:hover, QCheckBox::indicator:unchecked:pressed, QCheckBox::indicator:indeterminate:hover{
    image:url(':/images/pac/unchecked_b');
}
QCheckBox::indicator:checked, QCheckBox::indicator:checked:hover, QCheckBox::indicator:checked:pressed, QCheckBox::indicator:indeterminate:pressed {
    image:url(':/images/pac/checked_b');
}
QCheckBox::indicator:checked:disabled{
    image:url(':/images/pac/checked_b_dis');
}
QCheckBox::indicator:unchecked:disabled{
    image:url(':/images/pac/unchecked_b_dis');
}
/* GLOBAL RADIO BUTTON */
QRadioButton::indicator:unchecked, QRadioButton::indicator:unchecked:hover, QRadioButton::indicator:checked:pressed, QRadioButton::indicator:indeterminate:hover {
    image:url(':/images/pac/unchecked');
}
QRadioButton::indicator:unchecked:pressed, QRadioButton::indicator:checked, QRadioButton::indicator:checked:hover , QRadioButton::indicator:indeterminate:pressed {
    image:url(':/images/pac/checked');
}
QRadioButton::indicator:checked:disabled{
    image:url(':/images/pac/checked_dis');
}
QRadioButton::indicator:unchecked:disabled{
    image:url(':/images/pac/unchecked_dis');
}
/* ComboBox dropdown Menus for the selector of PAC units inside BitcoinAmountField inputs  */
BitcoinAmountField QComboBox {
    border-radius: 20px;
    background-color: #0A0A0A;
    font-family: 'Volte Rounded', sans-serif;
    font-size: 15px;
    text-align: center;
    border:0px;
    padding: 3px 5px 3px 5px;
    min-height:40px;
    color:#fff;
}
/* when the combo box is disabled */
BitcoinAmountField QComboBox{
    border-radius: 20px;
    background-color: rgb(10, 10, 10);
    font-family: 'Volte Rounded', sans-serif;
    font-size: 15px;
    text-align: center;
    border:0px;
    padding: 3px 5px 3px 5px;
    min-height:40px;
    color:#fff;
}
BitcoinAmountField QComboBox:disabled{
    background-color: rgb(61,61,61);
    color: #efefef;
}
BitcoinAmountField QComboBox:checked{
    background-color: rgba(219, 219, 219,0.5);
}
BitcoinAmountField QComboBox:editable{
    background-color: rgba(219, 219, 219,0.5);
    color:#616161;
    border:0px;
}
BitcoinAmountField QComboBox::drop-down {
    width:25px;
    border:0px;
}
BitcoinAmountField QComboBox::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
BitcoinAmountField QComboBox QListView{
    color: #FFF;
    background-color:  rgb(20, 20, 20);
    border:1px solid transparent;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}
BitcoinAmountField QComboBox QAbstractItemView::item {
    margin:4px;
}
BitcoinAmountField QComboBox::item {
    color:#fff !important;
}
BitcoinAmountField QComboBox::item:alternate{
    background:rgb(20, 20, 20);
}
BitcoinAmountField QComboBox::item:selected{
    border:0px solid transparent;
    background-color:  rgb(40, 40, 40);
}
BitcoinAmountField QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}
/*
 * Overview Page
*/
#frame_RecentTransactions>QLabel, #frame_Balances>QLabel{
    text-transform:uppercase;
}
/*
 * SendCoins Page
 */
#frameCoinControl, #scrollArea, #scrollAreaWidgetContents{
    border: 0px !important;
}
#frameCoinControl{
    background: rgba(200,200,200,0.15);
    border-radius: 8px !important;
}
#frameFee{
    border: 0px;
}
#scrollArea, #scrollAreaWidgetContents, #scrollAreaWidgetContents_3{
    background-color:rgba(0,0,0,0) !important;
}
#verticalWidget{
    margin-left: 25px !important;
}
/*
 * ReceiveCoins Page
 */
#ReceiveCoinsDialog{
    margin: 12px 42px 18px 42px;
}
#removeRequestButton{
    color: #FF1D1D;
}
#recentRequestsView QHeaderView::section{
    text-transform:uppercase;
    height:20px !important;
    border-bottom: 1px solid #707070 !important;
    border-right: 0px solid transparent !important;
    background: transparent !important;
    color: #8E8E8E !important;
}

/*
 * Transactions Page
 */
/* Over the table */
QLineEdit#addressWidget, QLineEdit#tAmountWidget{
    background-color: #0B0B0B;
    color:#fff;
    border:0px;
    min-height: 30px !important;
}
/*
 * Private Page
 */
#framePrivateSend{
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.85, stop: 0 rgba(0, 0, 0, 0.35), stop: 1 rgba(75, 75, 75, 0.30));
    border: 0px !important;
}
#labelPrivateSendHeader{
    font-size: 27px;
    font-family:"Gotham", sans-serif;
    font-weight:bold;
    color:#FFF;
}
#labelAnonymized{
    font-size: 48px;
    font-family:"Gotham Medium", sans-serif;
    color: #FDF002;
}
#labelAnonymizedText, #labelAmountAndRoundsText, #labelPrivateSendEnabledText{
    text-transform:uppercase;
    font-size: 14px;
    font-family:"Gotham Medium", sans-serif;
    color:#FFF;
}
#labelAmountRounds, #labelPrivateSendEnabled {
    text-transform:uppercase;
    font-size: 25px;
    font-family:"Gotham Medium", sans-serif;
    color: #FDF002;
}
/* Black button */
[class="buttonAllBlack"]{
    text-transform:uppercase;
    font-family:"Gotham Medium", sans-serif;
    background: #1A1919;
    border: 0px;
    color: #fff;
    border-radius: 11px;
    height: 50px;
    font-size: 16px;
}
[class="buttonAllBlack"]:hover, [class="buttonAllBlack"]:focus {
    background: #1A1919;
    border: 2px #444444;
    color: #fff;
}
[class="buttonAllBlack"]:disabled {
    background: #444444;
    color: #d3d3d3
}
[class="buttonAllBlack"]:pressed {
    background: rgb(243,232,56);
    color: #fff;
}
#privateSendInfo, #privateSendInfo:hover, #privateSendInfo:focus, #privateSendInfo:disabled, #privateSendInfo:pressed, #overviewInfo, #overviewInfo:hover, #overviewInfo:focus, #overviewInfo:disabled, #overviewInfo:pressed{
    background: transparent;
    border: 0px;
}
/*
 * Proposal Page
 */

/* Over the table */
QLineEdit#proposalWidget, QLineEdit#amountWidget, QLineEdit#yesVotesWidget, QLineEdit#noVotesWidget, QLineEdit#absoluteYesVotesWidget, QLineEdit#percentageWidget{ /* Example of setObjectName for widgets without name */
    background-color: #0B0B0B;
    color:#fff;
    border:0px;
    min-height: 30px !important;
}
QComboBox#startDateWidget, QComboBox#endDateWidget{
    background-color: #0B0B0B;
    border:0px;
    padding: 3px 5px 3px 5px;
    color:#fff;
    min-height: 24px !important;
}
#startDateWidget::down-arrow, #endDateWidget::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
#startDateWidget::drop-down, #endDateWidget::drop-down {
    width:25px;
    border:3px red;
}
QComboBox#startDateWidget QListView, QComboBox#endDateWidget QListView{
    background-color:  rgb(20, 20, 20);
    border:0px;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}
/*
 * Masternodes Page
*/
MasternodeList > QTabBar::tab{
    min-width:180px;
}
#filterLineEdit{
    background-color: #0B0B0B;
    border-radius: 12px;
    height: 24px;
}
/*
 * OptionsDialog
*/
#tabWidget_OptionsDialog QTabBar::tab {
    background: rgb(50,50,50);
    width:80px;
}
#tabWidget_OptionsDialog::pane {
    background-color: rgba(50,50,50,0.35);
}
#OptionsDialog > #resetButton{
    width:200px !important;
}
