/*
 *  Global GUI styles
 */
QLabel{
    font-family: 'Montserrat', sans-serif !important;
    color: rgb(250,250,250) !important;
}
QMainWindow{
    border-image: url(:/images/pac/drkblue_walletFrame_bg) 0 0 0 0 stretch stretch;
}
QMessageBox {
    background-color:rgb(20,20,20);
}QDialog{
    background-color:rgb(30,30,30);
}
/* Global Progress Bar styles */
QStatusBar{
    background-color: rgb(10,10,10) !important;
}
#btnChangeImage{
    border: 2px solid pink !important;
    border-image: url(:/images/pac/profile) !important;
}
#btnChangeImage:hover {
    border-image: url(:/images/pac/hover_profile) !important;
}

[class="container"]{
    background-color: rgba(50,50,50,0.6);
    border: 0px !important;
}
/* Global text inputs */
[class="LineEdit"], [class="LineEdit_PacCoins"]{
    border: 0px;
    border-radius: 20px;
    font-size:11px;
    outline:0;
    padding:3px;
    background-color: rgb(20, 20, 20);
    color: #fff;
    height: 40px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
[class="LineEdit"]:focus {
    font-size:12px;
}
[class="LineEdit"]:disabled {
    background:blue !important;
    background-color:#f2f2f2;
}

[class="QuickButton"]{
    background-color: transparent;
    border: none;
}
/* labels */
QLabel[class="titleLabel"]{
    color:rgb(255,255,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
QLabel[class="pacCoinsLabel"]{
    color:rgb(243,232,56);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;/*20px*/
    font-weight: 100;
}
QLabel[class="usdLabel"]{
    color:rgb(255,255,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
/* text input
QTextEdit {
    background: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    height: 120px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
/*textarea*/
QPlainTextEdit {
    background: rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
/* Dropdown Menus  not for the tables */
QDialog#SendCoinsDialog QComboBox, QDialog#ReceiveCoinsDialog QComboBox {
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    border:0px;
    padding: 3px 5px 3px 5px;
    min-height:40px;
    color:#fff;
}

QDialog#SendCoinsDialog QComboBox:disabled, QDialog#ReceiveCoinsDialog QComboBox:disabled{
    background-color: rgb(61,61,61);
    color: #efefef;
}

QDialog#SendCoinsDialog QComboBox:checked, QDialog#ReceiveCoinsDialog QComboBox:checked{
    background-color: rgba(219, 219, 219,0.5);
}

QDialog#SendCoinsDialog QComboBox:editable, QDialog#ReceiveCoinsDialog QComboBox:editable {
    background-color: rgba(219, 219, 219,0.5);
    color:#616161;
    border:0px;
}

QDialog#SendCoinsDialog QComboBox::drop-down, QDialog#ReceiveCoinsDialog QComboBox::drop-down {
    width:25px;
    border:0px;
}

QDialog#SendCoinsDialog QComboBox::down-arrow, QDialog#ReceiveCoinsDialog QComboBox::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}

QDialog#SendCoinsDialog QComboBox QListView, QDialog#ReceiveCoinsDialog QComboBox QListView {
    background-color:  rgb(20, 20, 20);
    border:1px solid transparent;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}

QDialog#SendCoinsDialog QComboBox QAbstractItemView::item, QDialog#ReceiveCoinsDialog QComboBox QAbstractItemView::item {
    margin:4px;
}

QDialog#SendCoinsDialog QComboBox::item, QDialog#ReceiveCoinsDialog QComboBox::item {
    color:#fff;
}

QDialog#SendCoinsDialog QComboBox::item:alternate, QDialog#ReceiveCoinsDialog QComboBox::item:alternate {
    background:rgb(20, 20, 20);
}

QDialog#SendCoinsDialog QComboBox::item:selected, QDialog#ReceiveCoinsDialog QComboBox::item:selected {
    border:0px solid transparent;
    background-color:  rgb(40, 40, 40);
}

QDialog#SendCoinsDialog QComboBox::indicator, QDialog#ReceiveCoinsDialog QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}


/*textbox with more and less button*/
QDoubleSpinBox {
    background: rgb(0, 255, 0);
    color: rgb(20, 20, 20);
    border: 0px solid rgb(61, 61, 61);
    border-radius: 8px;
    height: 35px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
QDoubleSpinBox::up-button, QDoubleSpinBox::down-button {
    width: 17px;
    height: 17px;
    border: 0px solid black;
}
QDoubleSpinBox::up-button {
    /*image: url(:/icons/uparrow) !important;*/
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
QDoubleSpinBox::down-button {
    /*image: url(:/icons/downarrow) !important;*/
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}
QDoubleSpinBox::up-button:hover, QDoubleSpinBox::down-button:hover{
    background-color:rgba(198,38,146,0.4);
}




/* ToolBar Menu */
QToolBar {
    background-color: #000;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QToolBar > QToolButton {
    background-color:transparent;
    border: 0px;
    min-height: 2.5em;
    height: 3em;
    padding: 0em 2em;
    color: #fff;
    margin-top: 20px;
}
QToolBar > QToolButton:checked {
    background-color:rgba(150,150,150,0.1);
}

#toolbarIcon{
    background: none;
    margin-left: 0px;
    margin-top: 0px;
    margin: 12px !important;
    border-image: url(:/icons/bitcoin);
}
#test{
    background-color: rgba(255,0,0,0.6);
    border:1px green !important;
}
#toptoolBar{
    background: cyan;
    width:1000px;
    height:100px;
}

/* Global Button styles*/
QPushButton {
    background: rgb(5,5,5);
    border: 1px solid rgb(243,232,56);
    color: rgb(243,232,56);
    border-radius: 12px;
    height: 30px;
    width: 150px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform:uppercase;
}
QPushButton:hover, QPushButton:focus {
    background: rgb(243,232,56) !important;
    border: 2px solid rgb(5,5,5) !important;
    color: rgb(5,5,5);
}
QPushButton:disabled {
background: rgb(45,45,45);
border: 1px solid rgb(263,242,76);
}
QPushButton:pressed {
    background: rgba(243,232,56, 0.3) !important;
    border: 2px solid rgb(5, 5, 5) !important;
    color: rgb(243,232,56) !important;
}
[class="linkButton"]{
    background-color: transparent;
    border: none;
    color:rgb(243,232,56);
    text-decoration: underline;
}
[class="linkButton"]:hover, [class="linkButton"]:focus {
    background: rgb(243,232,56) !important;
    border: 2px solid rgb(5,5,5) !important;
    color: rgb(5,5,5) !important;
}
[class="linkButton"]:disabled {
    background: rgb(45,45,45) !important;
    border: 1px solid rgb(263,242,76) !important;
}
[class="linkButton"]:pressed {
    background: rgba(243,232,56, 0.3) !important;
    border: 2px solid rgb(5, 5, 5) !important;
    color: rgb(243,232,56) !important;
}

[class="accentButton"]{
    border: none;
    background: rgb(243,232,56);
    color: rgb(5,5,5);
    border-radius: 25px;
    height: 50px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform:uppercase;
}
QCheckBox {
    color: rgb(255, 255, 255);
}
QRadioButton {
    color: rgb(255, 255, 255);
}

/*
 * Overview Page
*/
#frame_RecentTransactions>QLabel, #frame_Balances>QLabel{
    text-transform:uppercase;
}
/*
 * SendCoins Page
 */
 /*#SendCoinsEntry>QValidatedLineEdit, #SendCoinsEntry>BitcoinAmountField, #payAmount{
     background:red !important;
     border: 0px !important;
 }*/
 #frameCoinControl, #scrollArea, #scrollAreaWidgetContents{
     border: 0px !important;
 }
 #frameCoinControl{
     background: rgba(255,255,255,0.3);
     border-radius: 8px !important;
 }
 #scrollArea, #scrollAreaWidgetContents{
     background-color:rgba(0,0,0,0) !important;
 }

/*
 * Private Page
 */
#framePrivateSend{
    background-color: rgba(50,50,50,0.6);
    border: 0px !important;
}
#labelPrivateSendHeader{
    font-size: 25px;
}
#labelAnonymized{
    font-size: 30px;
}
#labelAnonymizedText, #labelAmountAndRoundsText, #labelPrivateSendEnabledTextP{
    font-weight: 100;
}
