/*
 *  Global GUI styles
 */

QLabel{
    font-family: 'Montserrat', sans-serif !important;
    color: rgb(100,10,10) !important;
}

QMainWindow{
    border-image: url(:/images/pac/drkblue_walletFrame_bg) 0 0 0 0 stretch stretch;
}

QMessageBox {
    background-color:rgb(20,20,20);
}

QDialog{
    background-color:rgb(30,30,30);
}


/* Global Progress Bar styles */
QStatusBar{
    background-color: rgb(10,10,10) !important;
}
[class="container"]{
    background-color: rgba(50,50,50,0.6);
    border: 0px !important;
}


/* Global text inputs */
[class="LineEdit"], [class="LineEdit_PacCoins"]{
    border: 0px;
    border-radius: 20px;
    font-size:11px;
    outline:0;
    padding:3px;
    background-color: rgb(20, 20, 20);
    color: #fff;
    height: 40px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
[class="LineEdit"]:focus {
    font-size:12px;
}
[class="LineEdit"]:disabled {
    background:blue !important;
    background-color:#f2f2f2;
}
[class="QuickButton"]{
    background-color: transparent;
    border: none;
}


/* labels */
QLabel[class="titleLabel"]{
    color:rgb(255,255,255);
    font-size: 20px;
}
QLabel[class="pacCoinsLabel"]{
    color:rgb(243,232,56);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;/*20px*/
    font-weight: 100;
}
QLabel[class="usdLabel"]{
    color:rgb(255,255,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
}


/* text input
QTextEdit {
    background: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    height: 120px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}*/


/*textarea*/
QPlainTextEdit {
    background: rgb(255, 0, 0);
    color: rgb(20, 20, 20);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


/* Dropdown Menus  not for the tables */
QDialog#SendCoinsDialog QComboBox, QDialog#ReceiveCoinsDialog QComboBox { 
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    border:0px;
    padding: 3px 5px 3px 5px;
    min-height:40px;
    color:#fff;
}
QDialog#SendCoinsDialog QComboBox:disabled, QDialog#ReceiveCoinsDialog QComboBox:disabled{
    background-color: rgb(61,61,61);
    color: #efefef;
}
QDialog#SendCoinsDialog QComboBox:checked, QDialog#ReceiveCoinsDialog QComboBox:checked{
    background-color: rgba(219, 219, 219,0.5);
}
QDialog#SendCoinsDialog QComboBox:editable, QDialog#ReceiveCoinsDialog QComboBox:editable {
    background-color: rgba(219, 219, 219,0.5);
    color:#616161;
    border:0px;
}
QDialog#SendCoinsDialog QComboBox::drop-down, QDialog#ReceiveCoinsDialog QComboBox::drop-down {
    width:25px;
    border:0px;
}
QDialog#SendCoinsDialog QComboBox::down-arrow, QDialog#ReceiveCoinsDialog QComboBox::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
QDialog#SendCoinsDialog QComboBox QListView, QDialog#ReceiveCoinsDialog QComboBox QListView {
    background-color:  rgb(20, 20, 20);
    border:1px solid transparent;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}
QDialog#SendCoinsDialog QComboBox QAbstractItemView::item, QDialog#ReceiveCoinsDialog QComboBox QAbstractItemView::item {
    margin:4px;
}
QDialog#SendCoinsDialog QComboBox::item, QDialog#ReceiveCoinsDialog QComboBox::item {
    color:#fff;
}
QDialog#SendCoinsDialog QComboBox::item:alternate, QDialog#ReceiveCoinsDialog QComboBox::item:alternate {
    background:rgb(20, 20, 20);
}
QDialog#SendCoinsDialog QComboBox::item:selected, QDialog#ReceiveCoinsDialog QComboBox::item:selected {
    border:0px solid transparent;
    background-color:  rgb(40, 40, 40);
}
QDialog#SendCoinsDialog QComboBox::indicator, QDialog#ReceiveCoinsDialog QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}


/* GLOBAL SPINBOX */
QAbstractSpinBox {
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    border:0px;
    min-height:40px;
    color:#fff;
    padding: 3px 5px 3px 5px;
}
QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width:21px;
    background-color: transparent;
    border:0px;
    padding-right:1px;
    padding-left:5px;
    padding-top:2px;
}
QAbstractSpinBox::up-arrow {
    image: url(':/images/pac/drkblue_upArrow_small') 0 0 0 0 stretch stretch;
}
QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width:21px;
    background-color: transparent;
    border:0px;
    padding-right:1px;
    padding-left:5px;
    padding-bottom:2px;
}
QAbstractSpinBox::down-arrow {
    image: url(':/images/pac/drkblue_downArrow_small') 0.5 0.5 0.5 0.5 stretch stretch;
}


/* GLOBAL TABLES*/
QHeaderView { /* Top of the table Header */
    background-color: rgba(224, 224, 224, 0.1);
}
QHeaderView::section { /* Top of the table Header Sections */
    qproperty-alignment:center;
    background-color: rgba(224, 224, 224, 0.1);
    color:#fff;
    min-height:25px;
    font-weight:bold;
    font-size:11px;
    outline:0;
    border:0px solid #fff;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}
.QScrollArea {
    background:transparent;
    border:2px solid transparent;
}
.QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
    background-color: rgba(224, 224, 224, 0.1);
    /*alternate-background-color: yellow;*/
}
QTableView::item { /* Table Item */
    font-size:12px;
}
QTableView::item:selected { /* Table Item Selected */
    background-color: rgb(255, 255, 0);
    color:#000;
}
.QTableWidget{
    background-color: rgba(224, 224, 224, 0.1); 
}
QScrollBar { /* Scroll Bar */
}
QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
    border:0px;
    background:#333333;
    width:18px;
    margin: 18px 0px 18px 0px;
}
QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
    border:0px;
    background:#333333;
    height:18px;
    margin: 0px 18px 0px 18px;
}
QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
    background:#999999;
    min-height:10px;
}
QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
    background:#999999;
    min-width:10px;
}
QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
    background:#3d3d3d;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { /* Define Arrow Button Dimensions */
    background-color:#050505;
    border: 1px solid #050505;
    width:16px;
    height:16px;
}
QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
    background-color:#e0e004;
}
QScrollBar::sub-line:vertical { /* Vertical - top button position */
    subcontrol-position:top;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical { /* Vertical - bottom button position */
    subcontrol-position:bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal { /* Vertical - left button position */
    subcontrol-position:left;
    subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal { /* Vertical - right button position */
    subcontrol-position:right;
    subcontrol-origin: margin;
}
QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { /* Arrows Icon */
    width:10px;
    height:10px;
}
QScrollBar:up-arrow {
    background-image: url(':/images/pac/drkblue_upArrow_small');
}
QScrollBar:down-arrow {
    background-image: url(':/images/pac/drkblue_downArrow_small');
}
QScrollBar:left-arrow {
    background-image: url(':/images/pac/drkblue_leftArrow_small');
}
QScrollBar:right-arrow {
    background-image: url(':/images/pac/drkblue_rightArrow_small');
}


/* ToolBar Menu */
QToolBar {
    background-color: #000;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QToolBar > QToolButton {
    background-color:transparent;
    border: 0px;
    min-height: 2.5em;
    height: 3em;
    padding: 0em 2em;
    color: #fff;
    margin-top: 20px;
}
QToolBar > QToolButton:checked {
    background-color:rgba(150,150,150,0.1);
}
#toolbarIcon{
    background: none;
    margin-left: 0px;
    margin-top: 0px;
    margin: 12px !important;
    border-image: url(:/icons/bitcoin);
}
#test{
    background-color: rgba(255,0,0,0.6);
    border:1px green !important;
}
#toptoolBar{
    background: cyan;
    width:1000px;
    height:100px;
}


/* Global Button styles*/
QPushButton {
    background: rgb(5,5,5);
    border: 1px solid rgb(243,232,56);
    color: rgb(243,232,56);
    border-radius: 12px;
    height: 30px;
    width: 150px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform:uppercase;
}
QPushButton:hover, QPushButton:focus {
    background: rgb(243,232,56) !important;
    border: 2px solid rgb(5,5,5) !important;
    color: rgb(5,5,5);
}
QPushButton:disabled {
    background: rgb(45,45,45);
    border: 1px solid rgb(263,242,76);
}
QPushButton:pressed {
    background: rgba(243,232,56, 0.3) !important;
    border: 2px solid rgb(5, 5, 5) !important;
    color: rgb(243,232,56) !important;
}
[class="linkButton"]{
    background-color: transparent;
    border: none;
    color:rgb(243,232,56);
    text-decoration: underline;
}
[class="linkButton"]:hover, [class="linkButton"]:focus {
    background: rgb(243,232,56) !important;
    border: 2px solid rgb(5,5,5) !important;
    color: rgb(5,5,5) !important;
}
[class="linkButton"]:disabled {
    background: rgb(45,45,45) !important;
    border: 1px solid rgb(263,242,76) !important;
}
[class="linkButton"]:pressed {
    background: rgba(243,232,56, 0.3) !important;
    border: 2px solid rgb(5, 5, 5) !important;
    color: rgb(243,232,56) !important;
}
[class="accentButton"]{
    border: none;
    background: rgb(243,232,56);
    color: rgb(5,5,5);
    border-radius: 25px;
    height: 50px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform:uppercase;
}
QCheckBox {
    color: rgb(255, 255, 255);
}
QRadioButton {
    color: rgb(255, 255, 255);
}


/*
 * Overview Page
*/
#frame_RecentTransactions>QLabel, #frame_Balances>QLabel{
    text-transform:uppercase;
}


/*
 * SendCoins Page
 */
/*#SendCoinsEntry>QValidatedLineEdit, #SendCoinsEntry>BitcoinAmountField, #payAmount{
    background:red !important;
    border: 0px !important;
}*/
#frameCoinControl, #scrollArea, #scrollAreaWidgetContents{
    border: 0px !important;
}
#frameCoinControl{
    background: rgba(255,255,255,0.3);
    border-radius: 8px !important;
}
#scrollArea, #scrollAreaWidgetContents{
    background-color:rgba(0,0,0,0) !important;
}

/*
 * Transactions Page
 */
QLineEdit#addressWidget, QLineEdit#tAmountWidget{
    background-color: rgba(224, 224, 224, 0.2);
    color:#fff;
    border:0px;
    min-height: 30px !important;
}

QComboBox#watchOnlyWidget, QComboBox#dateWidget, QComboBox#typeWidget {
    background-color: rgba(224, 224, 224, 0.2);
    border:0px;
    padding: 3px 5px 3px 5px;
    color:#fff;
    min-height: 24px !important;
}
#watchOnlyWidget::down-arrow, #dateWidget::down-arrow, #typeWidget::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
#watchOnlyWidget::drop-down, #dateWidget::drop-down, #typeWidget::drop-down {
    width:25px;
    border:3px red;
}
QComboBox#watchOnlyWidget QListView, QComboBox#dateWidget QListView, QComboBox#typeWidget QListView {
    background-color:  rgb(20, 20, 20);
    border:0px;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}

/*
 * Private Page
 */
#framePrivateSend{
    background-color: rgba(50,50,50,0.6);
    border: 0px !important;
}
#labelPrivateSendHeader{
    font-size: 25px;
}
#labelAnonymized{
    font-size: 30px;
}
#labelAnonymizedText, #labelAmountAndRoundsText, #labelPrivateSendEnabledTextP{
    font-weight: 100;
}


/*
 * Proposal Page
 */
/* Over the table */
QLineEdit#proposalWidget, QLineEdit#amountWidget, QLineEdit#yesVotesWidget, QLineEdit#noVotesWidget, QLineEdit#absoluteYesVotesWidget, QLineEdit#percentageWidget{ /* Example of setObjectName for widgets without name */
    background-color: rgba(224, 224, 224, 0.2);
    color:#fff;
    border:0px;
    min-height: 30px !important;
}
QComboBox#startDateWidget, QComboBox#endDateWidget{
    background-color: rgba(224, 224, 224, 0.2);
    border:0px;
    padding: 3px 5px 3px 5px;
    color:#fff;
    min-height: 24px !important;
}
#startDateWidget::down-arrow, #endDateWidget::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
#startDateWidget::drop-down, #endDateWidget::drop-down {
    width:25px;
    border:3px red;
}
QComboBox#startDateWidget QListView, QComboBox#endDateWidget QListView{
    background-color:  rgb(20, 20, 20);
    border:0px;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}

